# Node / React
frontend/node_modules/
frontend/build/

# Python
backend/__pycache__/
backend/.pytest_cache/
venv/

# VSCode / IDE
.vscode/
.idea/

# Arquivos de ambiente
.env
frontend/.env
backend/.env
